{% extends "base.html" %}
{% block title %}Contact{% endblock %}

{% macro render_field(field, cls) %}
<div class="mb-3">
  {{ field.label(class_="form-label") }}
  {% if field.errors %}
    {{ field(class_=cls + ' ' + 'is-invalid') }}
    {% for error in field.errors %}
      <div class="invalid-feedback">{{ error }}</p>
    {% endfor %}
  {% else %}
    {{ field(class_=cls) }}
  {% endif %}
</div>
{% endmacro %}

{% macro render_title(title) %}
<section class="mb-5 text-center">
  <h1 class="display-4 my-main__title--bold">{{ title }}</h1>
</section>
{% endmacro %}

{% block content %}

{% if not submitted %}
  {{ render_title('Contact Me') }}
  <section class="text-start">
    <form action="{{ url_for('contact') }}" method="POST" novalidate>
      {{ form.csrf_token }}
      {{ render_field(field=form.name, cls="form-control") }}
      {{ render_field(field=form.email, cls="form-control") }}
      {{ render_field(field=form.message, cls="form-control my-form__textarea") }}
      <div class="progress mb-3">
        <div id="my-progress-bar" class="progress-bar bg-danger" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div class="d-grid">
        {{ form.submit(class_="btn btn-outline-light btn-lg") }}
      </div>
    </form>
  </section>
{% else %}
  {{ render_title('Thank you for your message!') }}
  <section class="text-center">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <p class="lead mb-3">I appreciate that you are getting in touch with me. I will check your message and get back to you within 24 hours at latest. In the meantime, please feel free to browse my site for further contents.</p>
        <a href="{{ url_for('home') }}"><button class="btn btn-outline-light btn-lg">Okay!</button></a>
      </div>
    </div>
  </section>
{% endif %}

{% endblock %}