{% extends "base.html" %}
{% block title %}Privacy Policy{% endblock %}

{% block content %}

<section class="mb-5 text-center">
  <h1 class="display-4 my-main__title--bold">Privacy Policy</h1>
</section>

<section class="mb-5 text-center text-sm-start">
  <h2 class="display-6 my-main__title--bold mb-4">Who we are</h2>
  <p class="lead">
    Web: <a class="my-hyperlink__text" href="{{ url_for('home') }}">https://zoardehmann.com</a>
    <br/>
    Contact person: Zoárd Ehmann
  </p>
</section>

<section class="mb-5 text-center text-sm-start">
  <h2 class="display-6 my-main__title--bold mb-4">What personal data we collect and why we collect it</h2>
  <p class="lead">We do not collect any personal data about visitors.</p>
</section>

<section class="mb-5 text-center text-sm-start">
  <h2 class="display-6 my-main__title--bold mb-4">Contact Forms</h2>
  <p class="lead">Our website is using a contact form to let the visitors contact the website owner. Our contact form is using Google SMTP service for email forwarding purposes. The content of the form is private and only the sender and recipient will receive it.</p>
</section>

<section class="mb-5 text-center text-sm-start">
  <h2 class="display-6 my-main__title--bold mb-4">Cookies</h2>
  <p class="lead">Cookies are for your convenience so that you do not have to fill in your details again several times.</p>
  <!-- TODO: create cookie consent -->
  <p class="lead">You can revisit your cookie consent anytime.</p>
</section>

<section class="mb-5 text-center text-sm-start">
  <h2 class="display-6 my-main__title--bold mb-4">Analytics</h2>
  <p class="lead">Our website does not collect any analytics data.</p>
</section>

<section class="mb-5 text-center text-sm-start">
  <h2 class="display-6 my-main__title--bold mb-4">Embedded content from other websites</h2>
  <p class="lead">Articles on this site may include embedded content (e.g. videos, images, articles, etc.). Embedded content from other websites behaves in the exact same way as if the visitor has visited the other website.</p>
  <p class="lead">These websites may collect data about you, use cookies, embed additional third-party tracking, and monitor your interaction with that embedded content, including tracking your interaction with the embedded content if you have an account and are logged in to that website.</p>
</section>

<section class="mb-5 text-center text-sm-start">
  <h2 class="display-6 my-main__title--bold mb-4">Who we share your data with</h2>
  <p class="lead">We do not share your data with anyone.</p>
</section>

<section class="mb-5 text-center text-sm-start">
  <h2 class="display-6 my-main__title--bold mb-4">How long we retain your data</h2>
  <p class="lead">For users that register on our website (if any), we store the personal information they provide in their user profile. Website administrators can see, edit, or delete their personal information at any time upon request.</p>
</section>

<section class="mb-5 text-center text-sm-start">
  <h2 class="display-6 my-main__title--bold mb-4">What rights you have over your data</h2>
  <p class="lead">If you have an account on this site, you can request to receive an exported file of the personal data we hold about you, including any data you have provided to us. You can also request that we erase any personal data we hold about you. This does not include any data we are obliged to keep for administrative, legal, or security purposes.</p>
</section>

<section class="mb-5 text-center text-sm-start">
  <h2 class="display-6 my-main__title--bold mb-4">Where we send your data</h2>
  <p class="lead">We do not send your data anywhere.</p>
</section>

<section class="mb-5 text-center text-sm-start">
  <h2 class="display-6 my-main__title--bold mb-4">Additional information</h2>
  <p class="lead">Please read our <a class="my-hyperlink__text" href="{{ url_for('imprint') }}">Imprint</a> page for further information.</p>
</section>

<section class="mb-5 text-center text-sm-start">
  <h2 class="display-6 my-main__title--bold mb-4">How we protect your data</h2>
  <p class="lead">We do not collect any personal data about visitors, and only collects the data shown on the User Profile screen from registered users.</p>
</section>

<section class="mb-5 text-center text-sm-start">
  <h2 class="display-6 my-main__title--bold mb-4">What data breach procedures we have in place</h2>
  <p class="lead">We do not collect any personal data about visitors, and only collects the data shown on the User Profile screen from registered users.</p>
</section>

<section class="mb-5 text-center text-sm-start">
  <h2 class="display-6 my-main__title--bold mb-4">What third parties we receive data from</h2>
  <p class="lead">We do not receive data from any third parties.</p>
</section>

<section class="mb-5 text-center text-sm-start">
  <h2 class="display-6 my-main__title--bold mb-4">What automated decision making and/or profiling we do with user data</h2>
  <p class="lead">We do not use automated decision making and/or profiling with user data.</p>
</section>

<section class="mb-5 text-center text-sm-start">
  <h2 class="display-6 my-main__title--bold mb-4">Industry regulatory disclosure requirements</h2>
  <p class="lead">Please read our <a class="my-hyperlink__text" href="{{ url_for('imprint') }}">Imprint</a> page for further information.</p>
</section>

{% endblock %}